# Postgresql database connection
POSTGRES_USER=<Имя пользователя>
POSTGRES_PASSWORD=<Пароль пользователя>
POSTGRES_DB=<Название базы данных>
POSTGRES_SERVER=<Название или IP сервера базы данных>
POSTGRES_PORT=<Порт базы данных>
