# app settings
TITLE=<Название приложения>
DESCRIPTION=<Описание приложения>
VERSION=0.0.3
ENVIRONMENT=<Среда разработки>    # development production
TZ=<Временная зона>   # Europe/Moscow


# logging settings
LOG_LEVEL=<Уровень логирования>
LOG_FILE_PATH=<адрес файла для логов>
LOG_ROTATION_SIZE_MB=<Максимальный размер файла логов>
LOG_RETENTION_COUNT=<Количество хранимых архивных логов>

# Postgresql database connection
POSTGRES_USER=<Имя пользователя>
POSTGRES_PASSWORD=<Пароль пользователя>
POSTGRES_DB=<Название базы данных>
POSTGRES_SERVER=<Название или IP сервера базы данных>
POSTGRES_PORT=<Порт базы данных>

# RabbitMQ and Celery
RABBITMQ_USER=<Имя пользователя RabbitMQ>
RABBITMQ_PASSWORD=<Пароль пользователя RabbitMQ>
RABBITMQ_SERVER=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
CELERY_TASK_DEFAULT_QUEUE=booking_notifications
CELERY_BROKER_HEARTBEAT=30

# Flower monitoring
FLOWER_BASIC_AUTH=<Имя пользователя Flower>:<Пароль Flower>

# REDIS
REDIS_PASSWORD=redis_pass
REDIS_PORT=6379
REDIS_URL=redis://:redis_pass@redis:6379/0
MAX_CONNECTIONS=30
DECODE_RESPONSES=True
REDIS_CACHE_EXPIRE_SECONDS=1200

# SMTP
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=noreply@yourdomain.com

# CORS
ALLOWED_HOSTS=http://localhost:3000 http://localhost:5173 http://127.0.0.1:3000 http://127.0.0.1:5173
ALLOW_CREDENTIALS=true
ALLOWED_METHODS=GET POST PUT DELETE OPTIONS PATCH
ALLOWED_HEADERS=Authorization Content-Type Accept X-Request-ID

# JWT authorization
JWT_SECRET=<Не менее 32 случайных символов для подписи JWT-токенов>
JWT_LIFETIME_SECONDS=3600

# JWT authorization
JWT_SECRET=fjkvnkjfd__1234587493ythnbvlfdivnblsdfkj849848338hvksx
JWT_LIFETIME_SECONDS=3600
