# app settings
TITLE=<Название приложения>
DESCRIPTION=<Описание приложения>
VERSION=0.0.3
ENVIRONMENT=<Среда разработки>    # development production
TZ=<Временная зона>   # Europe/Moscow


# logging settings
LOG_LEVEL=<Уровень логирования>
LOG_FILE_PATH=<адрес файла для логов>
LOG_ROTATION_SIZE_MB=<Максимальный размер файла логов>
LOG_RETENTION_COUNT=<Количество хранимых архивных логов>

# Postgresql database connection
POSTGRES_USER=<Имя пользователя>
POSTGRES_PASSWORD=<Пароль пользователя>
POSTGRES_DB=<Название базы данных>
POSTGRES_SERVER=<Название или IP сервера базы данных>
POSTGRES_PORT=<Порт базы данных>

# JWT authorization
JWT_SECRET=<Не менее 32 случайных символов для подписи JWT-токенов>
JWT_LIFETIME_SECONDS=3600
